@model SisVest.DomainModel.Entities.Vestibular
@{
    ViewBag.Title = "Alterar Vestibular";
}
<h2>Alterar Vestibular</h2>
@using (@Html.BeginForm())
{
    //Assim (false) eu tiro a validação assincrona e deixo ele sincrona só nesta View sem necessidade
    //de mudar nada no Web.config
    //Isto pode ser feito também no Controller, mas aí eu tenho que por estes 2 comandos
    //nas duas Actions!

    //HtmlHelper.ClientValidationEnabled = false;
    //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;    

    @Html.EditorForModel()
    <p>
    <input type="submit" value="Alterar" />
    </p>    
}

<script type="text/javascript">
    $('#dtInicioInscricao').datepicker();
    $('#dtFimInscricao').datepicker();
    $('#dtProva').datepicker();
</script>