@model SisVest.DomainModel.Entities.Curso
@{
    ViewBag.Title = "Inserir Curso";
}
<h2>Inserir Curso</h2>
@using (@Html.BeginForm())
{
    //Assim (false) eu posso tirar a validação assincrona e deixo ele sincrona só nesta View sem necessidade
    //de mudar nada no Web.config
    //Isto pode ser feito também no Controller, mas aí eu tenho que por estes 2 comandos
    //nas duas Actions!

    //HtmlHelper.ClientValidationEnabled = false;
    //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
    
    @Html.EditorForModel()
    <p>
    <input type="submit" value="Inserir" />
    </p>    
}